@mixin flex($direction,$justifycontent,$alignitems:stretch) {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
      -ms-flex-direction: $direction;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              flex-direction: $direction;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: $justifycontent;
      -ms-flex-pack: $justifycontent;
          justify-content: $justifycontent;
          -webkit-box-align:$alignitems;
              -ms-flex-align:$alignitems;
                  align-items:$alignitems;
}


@mixin li($height,$borderright:0,$padding_sx:0,$padding_zy:0){
  height: $height;
  line-height: $height;
  list-style: none;
  padding:$padding_sx $padding_zy;
  &:hover{color:white;}
  cursor: pointer;
  @if $borderright==1 {border-right: 1px solid rgb(145, 156, 148);&:last-of-type{border-right:0px;}}
}

@mixin btn($backgroundcolor,$color,$width,$height){
  background-color: $backgroundcolor;
  color:$color;
  width: $width;
  height: $height;
  line-height: $height;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgb(145, 156, 148);
  &:hover{background-color: red;color:white}
}
